article {
    margin: 1rem 0;
    padding: .5rem 0;
    border-top: 1px solid gray;
}

article > *:not(:first-child) {
    margin-top: 1rem;
}

article > div.info {
    font-style: italic;
}

article img {
    margin: 1rem auto;
    display: block;
    border-radius: 5px;
}