aside {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
}

aside > div {
    background-color: #000000;
    height: 100%;
    min-width: 30%;
    max-width: 35%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: .5rem;
}

aside  > div > img {
    height: 3rem;
}

aside > div > ul {
    list-style: none;
    border-top: 1px solid white;
    padding-left: 3rem;
}

aside > div> ul > li {
    list-style: none;
    color: lightgreen;
    cursor: pointer;
    padding: 1rem 0 1rem;
    border-bottom: 1px solid white;
}