* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    min-width: 400px;
    min-height: 100%;
}

div#contents > div, header  {
    max-width: 1000px;
}

div#contents {
    display: grid;
    min-width: 400px;
    justify-content: center;
    padding: 1rem;
}

div#contents > div {
    margin: 0 auto;
}

div#contents > div img {
    margin: 1rem auto;
    display: block;
    width: 98%;
}

div.showable {
    display: none;
    width: 100%;
}

img.rounded {
    border-radius: 5px;
}

ul {
    margin-left: 1rem;
}