header {
    background-image: url(../img/vvvbn-logo.png);
}

header > div {

    color: red;

}

header > nav {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

header > nav > a {
    padding: .3rem 1rem;
    background-color: #b3d4fc;
    border-radius: 10px;
    cursor: pointer;
}