header {
    display: grid;
    margin: 0 auto 0;
    padding: .3rem 0 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
    "headerLeft headerRight";
}

header div.headerLeft {
    grid-area: headerLeft;
}

header div.headerRight {
    grid-area: headerRight;
    justify-self: end;
}

header div.headerLeft img#logo {
    margin-top: -1rem;
    margin-bottom: -2rem;
    width: 8rem;
}

header div.headerRight img#burger {
    width: 2rem;
    cursor: pointer;
    margin-top: .5rem;
    margin-right: .5rem;
}